<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-metric-charts label="New Users" total="12k" percentage="50" [data]="cards"></app-metric-charts>
  </mat-card>
  <mat-card fxFlex="25">
    <app-metric-charts label="Users retention" total="10k" percentage="40" [data]="cards"></app-metric-charts>
  </mat-card>
  <mat-card fxFlex="25">
    <app-metric-charts label="Users engagement" total="8k" percentage="30" [data]="cards"></app-metric-charts>
  </mat-card>
  <mat-card fxFlex="25">
    <app-metric-charts label="Referral" total="6k" percentage="20" [data]="cards"></app-metric-charts>
  </mat-card>
</div>

